.container {
    max-width: 1300px;
    margin-left: calc(50vw - 650px);
    margin-top: 20px;

    .flex {
        display: flex;
        gap: 10px;
    }

    .search {
        margin-bottom: 10px;
        font-size: 15px;
        padding-left: 40px;
    }

    .searchIcon {
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: 7px;
        margin-left: 10px;
    }

    .toolsTitle {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 10px;

        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }
}

.toolsContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
}

